<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="gemastik.photolane.droid" android:versionCode="1" android:versionName="1.0.0.0">
	<uses-sdk />
	<application android:label="Photolane" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
</manifest>